.body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.imageIntro {
  display: flex;
  position: relative;
}
.entreeHeart h3 {
  padding-inline: 17px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.entreeHeart .ligne {
  width: 40px;
  height: 3px;
  background: #99e2d0;
  margin-left: 17px;
}

.encadrement {
  @include column;
  position: absolute;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-sizing: border-box;
  width: 100%;
  top: 262px;
  gap: 40px;
}
.titreHeart {
  @include row;
  align-items: center;
  justify-content: space-around;
  padding-top: 32px;
  padding-inline: 17px;
  h2 {
    @include title;
  }
}
.heartP input {
  display: none;
}

/* :checked + :hover + :before */
.heartP input:checked + label:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

/* :not(:checked) + :hover + :before */
.heartP input:not(:checked) + label:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.heartP input:not(:checked) + label > img.uncheck {
  display: block;
}
.heartP input:checked + label > img.uncheck {
  display: none;
}
.heartP input:not(:checked) + label > img.check {
  display: none;
}
.heartP input:checked + label > img.check {
  display: block;
}
