.body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.imageIntro {
  display: flex;
  position: relative;
}
.entreeHeart {
  @include column;
  width: 275px;
  height: 27px;
  flex-shrink: 0;
}
.entreeHeart h3 {
  padding-inline: 17px;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  animation: effet 1s forwards;
}
.entreeHeart h3::after {
  content: "";
  width: 40px;
  height: 3px;
  opacity: 1;
  background: #99e2d0;
  position: absolute;
  left: 17px;
  bottom: -7px;
  animation: effet 2s both;
}

.encadrement {
  @include column;
  position: absolute;
  background-color: #f6f6f6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-sizing: border-box;
  width: 100%;
  top: 262px;
  gap: 40px;
  button {
    @include button;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .commander {
    display: flex;
    justify-content: center;
    padding-block: 40px;
  }
}
.titreHeart {
  @include row;
  align-items: center;
  justify-content: space-around;
  padding-top: 32px;
  h2 {
    @include title;
  }
}
.cardBis {
  @include column;
  gap: 12px;
}
.bisCard {
  margin-inline: 13px;
  padding: 15px;
  border: 1px solide transparent;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  gap: 5px;
  animation: effet 3s forwards;
  h4 {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
  }
  .prix {
    font-weight: 700;
  }
  p {
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
  }
  .description {
    @include row;
    align-items: center;
    justify-content: space-between;
  }
}
.heartP input {
  display: none;
}

/* :checked + :hover + :before */
.heartP input:checked + label:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

/* :not(:checked) + :hover + :before */
.heartP input:not(:checked) + label:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.heartP input:not(:checked) + label > img.uncheck {
  display: block;
}
.heartP input:checked + label > img.uncheck {
  display: none;
}
.heartP input:not(:checked) + label > img.check {
  display: none;
}
.heartP input:checked + label > img.check {
  display: block;
}

@keyframes effet{
  0% {
    transform: translatey(20px);
    opacity: 0%;
}

100% {
    transform: translatey(0px);
    opacity: 100%;
}
}
