@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  max-width: 375px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
body p {
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a a:hover {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header #Logo {
  margin-top: 14px;
  margin-bottom: 13px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: var(--Grey-2, #eaeaea);
  height: 50px;
}
nav input {
  font-size: 16px;
  font-weight: bold;
  border: 0;
  color: var(--Grey, #353535);
}

.reservation {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 57px;
}
.reservation h1 {
  width: 275px;
  height: 68px;
  flex-shrink: 0;
}
.reservation p {
  width: 315px;
  height: 46px;
  flex-shrink: 0;
}
.reservation button {
  margin-top: 27px;
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  font-size: 16px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 0;
  color: white;
}

.fonction {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.fonction h2 {
  padding-top: 48px;
  padding-left: 20px;
  margin: 0;
  padding-bottom: 1px;
}
.fonction ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  padding-bottom: 68px;
  margin: 0;
}
.fonction ul .contenant {
  position: relative;
  height: 24px;
  right: 12px;
}
.fonction ul .text {
  position: absolute;
  color: white;
  top: 3px;
  left: 6px;
}
.fonction ul li {
  gap: 24px;
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 72px;
  flex-shrink: 0;
  align-items: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.resto {
  gap: 6px;
  padding: 18px;
  padding-bottom: 68px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.resto h2 {
  padding-left: 13px;
}
.resto h3 {
  padding-left: 13px;
  font-size: 18px;
  margin: 0;
  padding-top: 16px;
}
.resto p {
  font-size: 17px;
  padding-top: 5px;
}
.resto .card {
  background-color: #f6f6f6;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 12px;
}
.resto .card p {
  padding-left: 13px;
}
.resto .card button {
  border: 0;
  background-color: white;
  position: relative;
  left: 275px;
  bottom: 46px;
}
.resto .card .iconeCoeur {
  width: 22px;
  height: 21px;
  flex-shrink: 0;
}
.resto .card .imgcard {
  box-sizing: border-box;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  flex-shrink: 0;
  border: 0 solid transparent;
  border-radius: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #f6f6f6;
  padding: 25px;
  padding-top: 22px;
}
.footer h2 {
  font-family: "Shrikhand", sans-serif;
  margin: 0;
}
.footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  gap: 7px;
}
.footer ul li {
  display: flex;
  flex-direction: row;
  gap: 11px;
}
.footer ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
}/*# sourceMappingURL=style.css.map */