@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  max-width: 375px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  @include font;  

  h1 {
    font-size: 24px;
    font-weight: 700;    
    font-style: normal;
    line-height: normal;
    margin: 0;
  }

  p {
    font-size: 18px; 
    margin: 0;   
  }
}
a{
  text-decoration: none;
  color:black;
  a:hover{
    text-decoration: none;
    color:black;
  }
}
header {
  @include column;
  @include center;
  #Logo {
    margin-top: 14px;
    margin-bottom: 13px;
  }
}
nav {
  @include row;
  @include center;
  gap: 17px;
  @include grey;
  height: 50px;
  input {
    font-size: 16px;
    font-weight: bold;
    border: 0;
    color: var(--Grey, #353535);
  }
}
.reservation {
  @include column;
  @include fond;
  @include center;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 57px;
  

  h1 {
    width: 275px;
    height: 68px;
    flex-shrink: 0;    
  }

  p {
    width: 315px;
    height: 46px;
    flex-shrink: 0;      
  } 

  button {
    @include button;
  }
}

.fonction {
  @include column;  
  box-sizing: border-box;
  h2 {
    padding-top: 48px;
    padding-left: 20px;
  }
  ul {
    @include column;
    gap: 25px;
    padding: 25px;  
    .contenant{
      position: relative;
      height: 24px;
      right: 12px;
    }  
    .text{
      position: absolute;
      color: white;      
      top: 3px;
      left: 6px;
      
    }
    li {    
      gap: 24px;  
      @include row;
      @include fond;
      border-radius: 20px;      
      height: 72px;
      flex-shrink: 0;
      align-items: center;           
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      
    }
  }
}
.resto {
  gap: 18px;
  padding: 25px;
  @include column;
  @include fond;
  .card{
    @include card;
    background-color: white;
  }  
}

.footer {
  @include column; 
  @include footer; 
  padding: 25px;
  padding-top: 22px;
  
  h2 {
    @include title;
    margin: 0;
  }
  ul {
    @include column;
    align-items: flex-start;
    list-style-type: none;
    padding: 0;
    gap: 7px;
    li {
      @include row;
      gap: 11px;
      a {        
        text-decoration: none;        
        font-size: 16px;
        font-weight: 500;
        color: white;
      }
    }
  }
}
